<div class="container">
  <div class="jumbotron">
    <h1>Danh sách câu hỏi</h1></div>
<router-outlet></router-outlet>


<div class="panel panel-primary">
  <table>
    <tr>
      <th>Câu hỏi</th>
      <th class="active">Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let question of questionList">
      <td>{{question.content}}</td>
      <td><div class="alert alert-success" role="alert">

        <a [routerLink]="['/update-question',question.id]">Update</a>

          </div>

      </td>
      <td><div class="alert alert-success" role="alert">

        <a [routerLink]="['/delete-question',question.id]">Delete</a>

      </div>
      </td>
    </tr>
  </table>
  <br>
  <div class="btn-group">
    <button type="button" class="btn btn-danger" routerLink="/create-question">Tạo mới câu hỏi</button>
  </div>
</div>
</div>
