<div class="container">
  <div class="jumbotron">
    <h1>Danh sách câu hỏi</h1></div>
<router-outlet></router-outlet>
  <form [formGroup]="searchForm"
        (ngSubmit)="searchQuestion(searchForm.value.content)">
    <div class="input-group input-group-sm">
      <input class="form-control mr-3 col-5" type="search" placeholder="Tìm kiếm"
             aria-label="Search" formControlName="content">
      <div class="input-group-append col-3">
        <button class="btn btn-primary" type="submit">
          Tìm kiếm <i class="fa fa-search"></i>
        </button>
      </div>

    </div>
  </form>
  <br>
  <tbody>
  <tr *ngFor="let question of questionStatusIsTrueList; index as i">
    <td>{{i + 1}}</td>
    <td [innerHTML]="question.content"></td>
  </tr>
  <tr>
  </tbody>

  <br>

<div class="panel panel-primary">
  <table>
    <tr>
      <th>Câu hỏi</th>
      <th class="active">Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let question of questionList">
      <td>{{question.content}}</td>
      <td><div class="alert alert-success" role="alert">

        <a [routerLink]="['/update-question',question.id]">Update</a>

          </div>

      </td>
      <td><div class="alert alert-success" role="alert">

        <a [routerLink]="['/delete-question',question.id]">Delete</a>

      </div>
      </td>
    </tr>
  </table>
  <br>
  <div class="btn-group">
    <button type="button" class="btn btn-danger" routerLink="/create-question">Tạo mới câu hỏi</button>
  </div>
</div>
</div>
