<div class="container">
  <div class="jumbotron">
    <h1>Chỉnh sửa câu hỏi</h1></div>
<form [formGroup]="questionForm" (ngSubmit)="updateQuestion()">
  <label>
    Câu hỏi:
  </label>
  <div class="input-group">

    <span class="input-group-addon"></span>

    <input type="text" formControlName="content">

  </div>
  <br>
  <label>Danh mục:  </label>
  <div>
    <select formControlName="category">
      <option *ngFor="let category of categoryList" [value]="category.id">{{category.name}}</option>
    </select>
  </div>
  <br>
  <div>
    <button class="btn btn-danger" type="submit">Lưu</button>
  </div>
</form>
<br>
<div>
  <a routerLink="/list-question">Danh sách câu hỏi</a>
</div>
</div>

