<div>
  <span>Danh sách danh mục</span>
</div>
<router-outlet></router-outlet>
<div>
  <a routerLink="/create-category">Tạo mới câu hỏi</a>
</div>
<div>
  <table>
    <tr>
      <th>Danh mục</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr *ngFor="let category of categoryList">
      <td>{{category.name}}</td>
      <td><a [routerLink]="['/update-category',category.id]">Edit</a></td>
      <td><a [routerLink]="['/delete-category',category.id]">Delete</a></td>
    </tr>
  </table>
</div>
